<form method="post" action="{{ path('app_admin_services_delete', {'id': service.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer le service?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="btn btn-danger w-50 m-1">Supprimer</button>
</form>
