<form method="post" action="{{ path('app_admin_calcul_home_delete', {'id': calcul_home.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calcul_home.id) }}">
    <button class="btn">Delete</button>
</form>
