{{ form_start(form) }}

{{ form_widget(form) }}
{# rajoute tous les champs du formulaire RDV #}



<button class="btn btn-success">{{ button_label|default('Enregistrer le RDV') }}</button>

{{ form_end(form) }}
