{% extends 'base.html.twig' %}

{% block title %}Hello FrontUserController!
{% endblock %}

{% block body %}
	<h1>
		Mon compte
	</h1>
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
			<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>

		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active m-5" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">

    <p> Bonjour M/Mme {{ app.user.nom }} ! </p>
        Bienvenue sur votre espace personnel. Vous pouvez modifier vos informations personnelles dans l'onglet "Profile".
        Pensez à indiquer votre numéro de téléphone si vous souhaitez prendre rendez-vous avec un de nos conseillers.
        </p>
        </div>
        
		<div class="tab-pane fade m-5" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">

		<div class="d-flex flex-wrap ">
		<div class="col-5">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}

			</div>
			</div>

	</div>

{% endblock %}
