{% extends 'base-backend.html.twig' %}

{% block title %}Editer News{% endblock %}

{% block body %}
    <h1>Editer News</h1>

    {{ include('admin_news/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_admin_news_index') }}">Retour à la liste</a>

    {{ include('admin_news/_delete_form.html.twig') }}
{% endblock %}
