<nav class="navbar navbar-expand navbar-light navbar-bg">
	<a class="sidebar-toggle js-sidebar-toggle">
		<i class="hamburger align-self-center"></i>
	</a>

	<div class="navbar-collapse collapse">
		<ul class="navbar-nav navbar-align">

			

				<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
					{% if app.user is not null %}
						{{ app.user.email }}

						<span class="text-dark">


							{{ app.user.nom}}

						{% endif %}
					</span>
				</a>
			
			</li>
		</ul>
	</div>
</nav>
